In [5]:
from bootcamp import display, dbutils, spark

In [ ]:
%fs

ls /databricks-datasets/Rdatasets/data-001/csv/datasets

SyntaxError: invalid syntax (1692827558.py, line 3)

In [6]:
titanicData = spark.read.csv("/databricks-datasets/Rdatasets/data-001/csv/datasets/Titanic.csv", header="true", inferSchema="true")

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/databricks-datasets/Rdatasets/data-001/csv/datasets/Titanic.csv.

In [0]:
titanicData.show()

+---+-----+------+-----+--------+----+
|_c0|Class|   Sex|  Age|Survived|Freq|
+---+-----+------+-----+--------+----+
|  1|  1st|  Male|Child|      No|   0|
|  2|  2nd|  Male|Child|      No|   0|
|  3|  3rd|  Male|Child|      No|  35|
|  4| Crew|  Male|Child|      No|   0|
|  5|  1st|Female|Child|      No|   0|
|  6|  2nd|Female|Child|      No|   0|
|  7|  3rd|Female|Child|      No|  17|
|  8| Crew|Female|Child|      No|   0|
|  9|  1st|  Male|Adult|      No| 118|
| 10|  2nd|  Male|Adult|      No| 154|
| 11|  3rd|  Male|Adult|      No| 387|
| 12| Crew|  Male|Adult|      No| 670|
| 13|  1st|Female|Adult|      No|   4|
| 14|  2nd|Female|Adult|      No|  13|
| 15|  3rd|Female|Adult|      No|  89|
| 16| Crew|Female|Adult|      No|   3|
| 17|  1st|  Male|Child|     Yes|   5|
| 18|  2nd|  Male|Child|     Yes|  11|
| 19|  3rd|  Male|Child|     Yes|  13|
| 20| Crew|  Male|Child|     Yes|   0|
+---+-----+------+-----+--------+----+
only showing top 20 rows

In [0]:
survivors = titanicData.filter(titanicData["Survived"] == 'No')

In [0]:
survivors.show()

+---+-----+------+-----+--------+----+
|_c0|Class|   Sex|  Age|Survived|Freq|
+---+-----+------+-----+--------+----+
|  1|  1st|  Male|Child|      No|   0|
|  2|  2nd|  Male|Child|      No|   0|
|  3|  3rd|  Male|Child|      No|  35|
|  4| Crew|  Male|Child|      No|   0|
|  5|  1st|Female|Child|      No|   0|
|  6|  2nd|Female|Child|      No|   0|
|  7|  3rd|Female|Child|      No|  17|
|  8| Crew|Female|Child|      No|   0|
|  9|  1st|  Male|Adult|      No| 118|
| 10|  2nd|  Male|Adult|      No| 154|
| 11|  3rd|  Male|Adult|      No| 387|
| 12| Crew|  Male|Adult|      No| 670|
| 13|  1st|Female|Adult|      No|   4|
| 14|  2nd|Female|Adult|      No|  13|
| 15|  3rd|Female|Adult|      No|  89|
| 16| Crew|Female|Adult|      No|   3|
+---+-----+------+-----+--------+----+

In [0]:
survivors.write.format("csv").mode("overwrite").save("/titanic/data/survivor.csv")

In [0]:
survivors.write.format("delta").mode("overwrite").saveAsTable("titanic_survivors")